/.vs
/Library
/Build
/Temp
/Logs
/obj
/Packages
/ProjectSettings
/Microsoft.MixedReality.Toolkit.Tools.csproj
/Microsoft.MixedReality.Toolkit.Tools.Runtime.csproj
/Microsoft.MixedReality.Toolkit.Tools.Runtime.Player.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Assembly-CSharp-Editor.csproj
/DigitalMan.sln
/Microsoft.MixedReality.Toolkit.Async.csproj
/Microsoft.MixedReality.Toolkit.Async.Player.csproj
/Microsoft.MixedReality.Toolkit.csproj
/Microsoft.MixedReality.Toolkit.Demos.Gltf.csproj
/Microsoft.MixedReality.Toolkit.Demos.Gltf.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Demos.Gltf.Player.csproj
/Microsoft.MixedReality.Toolkit.Demos.InspectorFields.csproj
/Microsoft.MixedReality.Toolkit.Demos.InspectorFields.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Demos.InspectorFields.Player.csproj
/Microsoft.MixedReality.Toolkit.Demos.StandardShader.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Demos.UX.Interactables.csproj
/Microsoft.MixedReality.Toolkit.Demos.UX.Interactables.Player.csproj
/Microsoft.MixedReality.Toolkit.Editor.BuildAndDeploy.csproj
/Microsoft.MixedReality.Toolkit.Editor.ClassExtensions.csproj
/Microsoft.MixedReality.Toolkit.Editor.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Editor.ServiceInspectors.csproj
/Microsoft.MixedReality.Toolkit.Editor.Utilities.csproj
/Microsoft.MixedReality.Toolkit.Examples.csproj
/Microsoft.MixedReality.Toolkit.Examples.Editor.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.Examples.Player.csproj
/Microsoft.MixedReality.Toolkit.Gltf.csproj
/Microsoft.MixedReality.Toolkit.Gltf.Importers.csproj
/Microsoft.MixedReality.Toolkit.Gltf.Player.csproj
/Microsoft.MixedReality.Toolkit.MSBuild.csproj
/Microsoft.MixedReality.Toolkit.Player.csproj
/Microsoft.MixedReality.Toolkit.Providers.ObjectMeshObserver.csproj
/Microsoft.MixedReality.Toolkit.Providers.OpenVR.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.Player.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsVoiceInput.csproj
/Microsoft.MixedReality.Toolkit.Providers.WindowsVoiceInput.Player.csproj
/Microsoft.MixedReality.Toolkit.SDK.csproj
/Microsoft.MixedReality.Toolkit.SDK.Inspectors.csproj
/Microsoft.MixedReality.Toolkit.SDK.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.BoundarySystem.csproj
/Microsoft.MixedReality.Toolkit.Services.BoundarySystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.CameraSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.CameraSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.DiagnosticsSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.DiagnosticsSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.InputAnimation.csproj
/Microsoft.MixedReality.Toolkit.Services.InputAnimation.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSimulation.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSimulation.Editor.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSimulation.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSystem.Editor.csproj
/Microsoft.MixedReality.Toolkit.Services.InputSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.SceneSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.SceneSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.SpatialAwarenessSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.SpatialAwarenessSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Services.TeleportSystem.csproj
/Microsoft.MixedReality.Toolkit.Services.TeleportSystem.Player.csproj
/Microsoft.MixedReality.Toolkit.Tests.csproj
/Microsoft.MixedReality.Toolkit.Tests.EditModeTests.csproj
/Microsoft.MixedReality.Toolkit.Tests.Player.csproj
/Microsoft.MixedReality.Toolkit.Tests.PlayModeTests.csproj
/Microsoft.MixedReality.Toolkit.Tests.PlayModeTests.Player.csproj
/Unity.XR.WindowsMR.Player.csproj
/Unity.Analytics.DataPrivacy.Player.csproj
/Unity.TextMeshPro.Player.csproj
